* {
	font-family: sans-serif;
    box-sizing: border-box;
	font-size: 15px;
}

th {
    background-color: #4CAF50;
    color: white;
    min-width: 180px;
}

th:first-child {
    min-width: 100px;
}

th, td {
    padding: 5px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

td {
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

td:first-child {
	text-align: center;
    vertical-align: middle;
	font-style: italic;
}

tr:hover {
	background-color: #f5f5f5;
}

table {
    border-collapse: collapse;
}

h1 {
	font-size: 2.5em;
}